QDRANT_URL=your-qdrant-cluster-url
QDRANT_API_KEY=your-qdrant-api-key
OPENROUTER_API_KEY=your-api-key
OPENROUTER_MODEL=openai/gpt-oss-120b:free
EMBEDDING_MODEL=BAAI/bge-m3
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=your-langsmith-api-key
LANGCHAIN_PROJECT=ecommerce-rag-cs
HF_HUB_OFFLINE=0